data
docker-compose.yaml
docker/code/dart.deb
docker/code/*.vsix
docker/ruby/Gemfile
docker/ruby/Gemfile.lock
e2e/node_modules
e2e/playwright-report
e2e/test-results
invitations
logs
src/content/git/git-tutorial/alice
src/ruby/credentials.rb
src/ruby/invitations.txt
src/scripts/collect-music-releases/cache
src/static/include/bootstrap*/node_modules
src/static/tic80
src/tutorial-screenshots/node_modules
temp
