networks:
  proxy:
    external: true

services:
  traefik:
    networks:
      - proxy
    image: traefik:v3.6
    container_name: traefik
    restart: unless-stopped
    command:
      - --global.checknewversion=false
      - --global.sendanonymoususage=false

      - --log.level=INFO

      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443

      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https

      - --providers.docker=true
      - --providers.docker.exposedbydefault=false

      - --certificatesresolvers.le.acme.email=specht@gymnasiumsteglitz.de
      - --certificatesresolvers.le.acme.storage=/acme/acme.json
      - --certificatesresolvers.le.acme.dnschallenge=true
      - --certificatesresolvers.le.acme.dnschallenge.provider=cloudflare
      - --certificatesresolvers.le.acme.dnschallenge.propagation.delaybeforechecks=10

    ports:
      - "80:80"
      - "443:443"

    environment:
      - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/acme.json:/acme/acme.json
