body {
    background-color: #fff;
    color: #333;
    font-family: sans;
    max-width: 600px;
    padding: 1em;
    margin: 0 auto;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
    border-radius: 0.25em;
}

blockquote {
    background-color: #f9f9f9;
    border-left: 4px solid #ccc;
    margin: 1em 0;
    padding: 0.1em 1em
}

a {
    color: rgb(137, 4, 4);
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;

    li {
        a {
            display: block;
            margin: 0.5em 0;
            padding: 0.5em;
            background-color: #f9f9f9;
            border-radius: 4px;
            box-shadow: 0 0.05em 0.15em rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;

            &:hover {
                background-color: #e9e9e9;
                border: 1px solid #bbb;
                box-shadow: 0 0.05em 0.15em rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.pagelink {
    cursor: pointer;

    transition: transform 0.5s ease, height 0.5s ease, margin 0.5s ease, padding 0.5s ease, opacity 0.5s ease, border 0.5s ease;

    height: auto;
    overflow-y: hidden;

    &.dismissed {
        height: 0 !important;
        opacity: 0;
        pointer-events: none;
    }
}

.page {
    transition: opacity 0.5s ease;
    opacity: 1;

    &.hidden {
        opacity: 0;
    }
}

#main {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: top;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#dev_pane {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 1em;
    /* background-color: #f0f0f0; */
    box-shadow: 0.15em 0 0.15em rgba(0, 0, 0, 0.25);
    z-index: 1;
}

#game_pane {
    max-height: 100%;
    max-width: 30em;
    overflow-y: scroll;
    padding: 1em;
}
