:root {
  --bg-color: #fff;
  --fg-color: #333;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #222;
        --fg-color: #eee;
    }
}

:root {
  --mix-60: color-mix(in hsl, var(--bg-color) 60%, var(--fg-color));
  --mix-65: color-mix(in hsl, var(--bg-color) 65%, var(--fg-color));
  --mix-70: color-mix(in hsl, var(--bg-color) 70%, var(--fg-color));
  --mix-75: color-mix(in hsl, var(--bg-color) 75%, var(--fg-color));
  --mix-80: color-mix(in hsl, var(--bg-color) 80%, var(--fg-color));
  --mix-85: color-mix(in hsl, var(--bg-color) 85%, var(--fg-color));
  --mix-90: color-mix(in hsl, var(--bg-color) 90%, var(--fg-color));
  --mix-95: color-mix(in hsl, var(--bg-color) 95%, var(--fg-color));
}

html, body {
    margin: 0;
    height: 100%;
    overflow: auto;
}

nav {
    display: none;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    /* &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.3);
        border-radius: 4px;
    } */
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    border-radius: 0.25em;
}

blockquote {
    background-color: var(--mix-95);
    border-left: 4px solid var(--mix-85);
    margin: 0;
    padding: 0.1em 1em;
    font-style: italic;
}

p {
    line-height: 1.4em;
}

ul:has(li a) {
    list-style: none;
    padding: 0;

    li {
        a {
            color: unset;
            display: block;
            margin: 0.5em 0;
            padding: 0.75em;
            background-color: var(--bg-color);
            border-radius: 4px;
            box-shadow: 0 0.05em 0.15em rgba(0, 0, 0, 0.1);
            border: 1px solid var(--mix-70);
            background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));

            &:hover {
                background-color: var(--mix-95);
                border: 1px solid var(--mix-60);
                box-shadow: 0 0.05em 0.15em rgba(0, 0, 0, 0.2);
            }
        }
    }
}

button.pagelink {
    font-size: 16px;
    color: unset;
    display: block;
    margin: 0.5em 0;
    padding: 0.75em;
    width: 100%;
    text-align: left;
}

#content {
    padding-bottom: 15px;
}

.pagelink {
    cursor: pointer;
    user-select: none;
    transition: max-height 300ms ease, height 300ms ease, margin 300ms ease, padding 300ms ease, opacity 0.5s ease, border 0.5s ease, transform 0.5s ease;
    max-height: 100px;
    overflow-y: hidden;
    margin: 0.5em 0;

    a {
        margin: 0;
        padding: 0.75em 1em;
    }

    &.chosen {
        pointer-events: none;
    }

    &.dismissed {
        pointer-events: none;
        max-height: 0;
        margin: 0;
    }
}

.page {
    transition: opacity 0.5s ease;
    opacity: 1;

    &.hidden {
        opacity: 0;
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    color: var(--fg-color);
    background-size: contain;
}

button {
    user-select: none;
    font-family: "IBM Plex Sans", sans-serif;
    padding: 0.5em 1em;
    background-color: var(--bg-color);
    color: var(--fg-color);
    border-radius: 4px;
    box-shadow: 0 0.05em 0.15em rgba(0, 0, 0, 0.1);
    border: 1px solid var(--mix-70);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));

    cursor: pointer;

    &:hover {
        background-color: var(--mix-95);
        border: 1px solid var(--mix-60);
        box-shadow: 0 0.05em 0.15em rgba(0, 0, 0, 0.2);
    }

    white-space: nowrap;

    .icon {
        color: var(--my-button-foreground);
        position: relative;
        top: 0.15em;
    }
    :first-child.icon {
        margin-right: 0.5em;
    }
    :last-child.icon {
        margin-left: 0.5em;
    }
}

nav, #dev_pane {
    display: none;
}

#dev_fixed {
    background-color: var(--bg-color);
}

#game_pane {
    max-width: 30em;
    margin: auto;
    padding: 1em;
}

body.dev {
    nav {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 0.5em;
        flex-wrap: nowrap;
    }

    #resizable-children {
        display: flex;
        align-items: stretch;
        height: 100vh;

        #game_pane {
            flex: 30;
            min-width: 200px;
            padding: 0.5em;
            height: 100%;
        }

        #dev_pane {
            flex: 70;
            display: flex;
            flex-direction: column;

            height: 100vh;
            overflow: hidden;
            position: relative;

            #dev_fixed {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                width: 600px;
                display: flex;

                #divider {
                    width: 8px;
                    cursor: col-resize;
                    background: var(--mix-95);
                }

                #graph-container {
                    box-shadow: 0.1em 0 0.1em rgba(0, 0, 0, 0.1);
                    flex: 1;
                    position: relative;
                    svg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        flex-grow: 1;
                        user-select: none;
                        cursor: grab;
                    }

                    .node {
                        cursor: pointer;
                        &:hover {
                            opacity: 1;
                        }
                        opacity: 0.5;
                        &.active {
                            opacity: 1;
                            polygon {
                                stroke: #000;
                            }
                        }
                    }
                    .edge {
                        opacity: 0.3;
                        &.active {
                            opacity: 1;
                            path {
                                stroke: #000;
                            }
                            polygon {
                                stroke: #000;
                                fill: #000;
                            }
                        }
                    }
                }

                #state-container {
                    position: absolute;
                    bottom: 1em;
                    right: 1em;
                    font-family: 'IBM Plex Mono', monospace;
                    font-size: 0.9em;
                    background-color: var(--bg-color);
                    padding: 0.5em;
                    white-space: pre;
                    box-shadow: 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.25);
                    border-radius: 0.25em;
                    border: 1px solid var(--mix-80);
                }
            }
        }
    }
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid var(--mix-85);
}

table {
    border-collapse: collapse;
    /* width: 100%; */
    margin: 1em 0;
    border-radius: 0.25em;
    overflow: hidden;

    th, td {
        padding: 0.5em;
        text-align: left;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    th {
        background-color: rgba(0,0,0,0.1);
        font-weight: bold;
    }
    tr:nth-child(even) {
        background-color: rgba(0,0,0,0.03);
    }
}

body.skip-animations {
    * {
        transition: none !important;
        animation: none !important;
    }
}

div.choice {
    display: flex;
    flex-direction: row;
    gap: 0.75em;

    .pagelink {
        text-align: center
    }
}
