body {
    /* font-family: 'Latin Modern Mono', monospace; */
    font-family: 'IBM Plex Sans', monospace;
    font-size: 13pt;
    margin-bottom: 100px;
}

h1,
h2,
h3 {
    font-family: 'IBM Plex Sans', monospace;
    font-weight: 400;
    margin: 1em 0 0.5em 0;
}

.sponsor {
    text-align: center;
    position: relative;
    top: -1.4em;
    color: #000;
    opacity: 0.5;

    img {
        margin-left: 3px;
        height: 14px;
        position: relative;
        top: -2px;
    }
}

.faq {
    margin-bottom: 1em;
}

.faq .q::before {
    content: "\f101";
    font: normal normal normal 14px/1 ForkAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 0.5em;
}

.faq .q {
    font-weight: 500;
    display: inline;
    margin-right: 0.5em;
    font-family: 'Alegreya SC', sans-serif;
}

.logos {
    margin: 2em 0;
}

.logos img {
    width: 100%;
    object-fit: contain;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 0.3em 1em;
    font-size: 75%;
    text-align: right;
    color: #888;
    z-index: 2;
}

footer a {
    color: #888;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: unset;
}

.table-container {
    overflow-x: auto;
}

@media (max-width: 1400px) {
    .logos img {
        width: 100%;
        height: 170px;
        margin-bottom: 1em;
    }
}

@media (max-width: 1200px) {
    .logos img {
        width: 100%;
        height: 140px;
        margin-bottom: 1em;
    }
}

@media (max-width: 992px) {
    .logos img {
        width: 100%;
        height: 110px;
        margin-bottom: 1em;
    }
}

@media (max-width: 768px) {
    .logos img {
        width: 100% !important;
        height: 110px;
        margin-bottom: 1em;
    }
}

.header {
    /* border-bottom: 1px solid #ccc; */
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); */
    /* padding: 1em 0; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 95%;
    background-color: #f4f4f4;
}

.title {
    font-family: 'Patua One', monospace;
    font-weight: 400;
    /* font-style: italic; */
    font-size: 3rem;
    padding: 0.5em 0;
    text-align: center;
}

.title a {
    color: unset;
    text-decoration: none;
}

.title a:hover {
    text-decoration: none;
}

.menu a:hover {
    text-decoration: none;
}

.menu {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    text-align: right;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #ddd;
    padding: 0.5em 0;
}


.api_messages {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 100;
    border: 1px solid #ddd;
    position: relative;
}

.api_messages button {
    position: absolute;
    right: 0;
    box-shadow: none;
}

form {
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 1em;
    padding: 1em;
}

a.nav-link {
    margin-left: 1em;
}

.btn {
    white-space: nowrap;
}

.input-group {
    flex-wrap: nowrap;
}

.table td,
.table th {
    white-space: nowrap;
}

.show-on-mobile {
    display: none;
}

@media (max-width: 768px) {
    .logos img {
        height: 150px;
        margin-bottom: 1em;
    }

    .title {
        font-size: 2rem;
    }

    .sponsor {
        top: -1.1em;
    }

    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: unset;
    }
}

@media (max-width: 992px) {
    a.nav-link {
        margin-left: 0.5em;
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .nav-link.active {
        background-color: #fff;
        border-radius: 0.5em;
        padding-left: 1em !important;
        padding-right: 1em !important;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        outline: 1px solid #ccc;
    }
}

input.error {
    background-color: rgb(241, 62, 13, 0.3);
    outline: 1px solid rgb(241, 62, 13, 1.0);
}

.navbar {
    backdrop-filter: blur(5px);
}

.n2 {
    display: inline-block;
    width: 2em;
    text-align: right;
}

.bg-c1 {
    background-color: #f7b801 !important;
}

.bg-c2 {
    background-color: #f18701 !important;
}

.bg-c3 {
    background-color: #90be6d !important;
}

.navbar-nav>a>.fa {
    display: inline-block;
    width: 1.2em;
    /* text-align: center; */
}

.bg-b0 {
    background-color: #3465a4 !important;
}

.bg-b1 {
    background-color: #5f3577 !important;
}

.bg-b2 {
    background-color: #73a946 !important;
}

.bg-b3 {
    background-color: #00a8a8 !important;
}

.bg-b4 {
    background-color: #778590 !important;
}

.bg-b5 {
    background-color: #f4951b !important;
}

.bg-b6 {
    background-color: #952749 !important;
}

.bg-b7 {
    background-color: #8c0c03 !important;
}

.please-reload {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    text-align: center;
    padding: 32px;
    padding-top: 200px;
    z-index: 1000;
}

.hl {
    outline: 2px solid white;
    box-shadow: 0 0 8px 3px darkgreen;
}

.photo {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 100%;
}

.werbung a {
    color: rgb(89, 189, 255);
}

.ceremony_mockup {
    border: 1px solid #aaa;
    border-radius: 1em;
    display: inline-block;
    padding: 1em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
}

.photodiv {
    width: 128px;
    height: 128px;
    border-radius: 20%;
    overflow: hidden;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.2);
    position: relative;
}

.photodiv>div {
    width: 128px;
    height: 128px;
    background-size: cover;
    background-repeat: no-repeat;
}

.ti_adjust {
    width: 7em;
}

tr.noborder td {
    border: none;
}

.tutorial_card2 {
    display: flex;
    color: unset;
    text-decoration: none;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 1em;
    overflow: hidden;
}

.tutorial_card2:hover {
    text-decoration: none;
    border: 1px solid #aaa;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
    color: unset;
}

.tutorial_card2>.inner {
    display: flex;
    flex-direction: column;
    position: relative;
}

.tutorial_card2>.inner::after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2) inset;
}

.tutorial_card2>h4 {
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tutorial_card2 div>img {
    width: 100%;
    height: calc(100% * 9 / 16);
    object-fit: cover;
}

.tutorial_card2 .abstract {
    font-size: 90%;
    font-style: italic;
    padding: 0.5em 0.5em;
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    height: calc(100% * 9 / 16 / 0.9);
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2) inset;
}

.squircle {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    padding: 0.2em;
    margin-right: 0.4em;
    margin-left: -0.2em;
    background-image: url(/images/squircle.png);
    background-size: cover;
}

.squircle img {
    width: 100%;
    height: 100%;
    transform: scale(0.7) translate(0, -0.1em);
}

code {
    font-family: 'Latin Modern Mono', monospace;
    font-weight: bold;
    /* color: #000; */
    font-size: 110%;
    color: #e5185d;
    background-color: rgba(243, 132, 175, 0.2);
    /* display: inline-block; */
    padding: 0 0.3em;
    border-radius: 0.3em;
}

.key {
    border: 1px solid #ddd;
    padding: 0.1em 0.4em;
    border-radius: 0.2em;
    margin: 0 0.1em;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 11pt;
    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.3);
    position: relative;
    top: -0.05em;
}

.meta {
    display: none;
}

p {
    text-align: justify;
}

img.full {
    display: block;
    width: 100%;
    min-width: 1000px;
    border-radius: 0.5em;
    cursor: grab;
}

img.fit-width {
    min-width: unset;
}

img.r {
    float: right;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}

.abstract {
    /* font-style: italic; */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sq-icon {
    height: 3em;
    width: 3em;
    object-fit: cover;
    border-radius: 0.5em;
}

.scroll-x {
    max-width: 100%;
    overflow-x: auto;
}

.scroll-x>img {
    width: 100%;
    overflow-x: auto;
}

.btn-primary {
    background-color: #428bd4;
    border: 1px solid #428bd4;
}

.btn-primary:focus .btn-primary:hover {
    background-color: #2c72b8;
    border: 1px solid #2c72b8;
}

.rot {
    transition: transform 0.5s cubic-bezier(0.180, 0.855, 0.375, 1.290), opacity 0.5s cubic-bezier(0.180, 0.855, 0.375, 1.290);
}

.rot.rot180 {
    transform: rotate(180deg);
}

pre {
    font-family: 'Latin Modern Mono', monospace;
    font-weight: bold;
    /* color: #000; */
    font-size: 110%;
    /* border: 1px solid #eee; */
    padding: 0.5em 1em;
    /* box-shadow: 0 0 0.5em rgba(0,0,0,0.2); */
    border-radius: 0.5em;
}

pre pre {
    padding: 0;
    border-radius: 0;
}

.rouge-table {
    padding: 0;
    font-size: 90%;
    border-radius: 0;
}

.rouge-gutter {
    padding-right: 1em;
    user-select: none;
}

.hint {
    display: flow-root;
    position: relative;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 0.7em 0.5em 0.5em 3em;
    margin-bottom: 1em;
    background-color: #f9f9f9;
    text-align: justify;
    min-height: 3.5em;
}

.hint::before {
    content: '';
    display: block;
    position: absolute;
    left: 0.5em;
    top: 0.75em;
    width: 2em;
    height: 2em;
    background-image: url(/images/bulb.png);
    background-size: cover;
}

.hint.wink::before {
    background-image: url(/images/wink.png);
}

.hint.task::before {
    background-image: url(/images/memo.png);
}

.hint.books::before {
    background-image: url(/images/books.png);
}

.hint.think::before {
    background-image: url(/images/think.png);
}

.hint.handshake::before {
    background-image: url(/images/handshake.png);
}

.hint.melting::before {
    background-image: url(/images/melting.png);
}

/* a.tutorial_card {
    max-height: 100vw;
} */

@media (min-width: 768px) {
    .tutorial_card2>.inner {
        flex-direction: row;
    }

    .tutorial_card2 div>img {
        width: 20em;
        height: calc(20em * 9 / 16);
    }

    .tutorial_card2 .abstract {
        padding: 0.2em 0.5em;
        height: calc(20em * 9 / 16 / 0.9);
        box-shadow: 10px 0px 10px -10px rgba(0, 0, 0, 0.2) inset;
    }
}

@media (min-width: 992px) {
    .tutorial_card2 div>img {
        width: 16em;
        height: calc(16em * 9 / 16);
    }

    .tutorial_card2 .abstract {
        height: calc(16em * 9 / 16 / 0.9);
    }
}

@media (min-width: 1200px) {
    .tutorial_card2 div>img {
        width: 20em;
        height: calc(20em * 9 / 16);
    }

    .tutorial_card2 .abstract {
        height: calc(20em * 9 / 16 / 0.9);
    }
}

@media (min-width: 1400px) {
    .tutorial_card2 div>img {
        width: 25em;
        height: calc(25em * 9 / 16);
    }

    .tutorial_card2 .abstract {
        height: calc(25em * 9 / 16 / 0.9);
    }
}

@media (pointer: coarse) {
    .scroll-x>img {
        width: calc(max(100%, 900px));
    }

    .scroll-x>img.fit-width {
        width: 100%;
    }
}


.tutorial_card2.compact div>img {
    width: 100%;
    /* height: calc(100% * 9 / 16); */
}

.tutorial_card2.compact .abstract {
    /* display: none; */
    height: 5em;
    padding: 0.2em 0.5em;
    /* height: calc(20em * 9 / 16 / 0.9); */
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2) inset;
}

.tutorial_card2.compact>.inner {
    flex-direction: column;
}

div.floatright {
    float: right;
    margin-left: 1em;
    margin-bottom: 0.8em;
    border: 0.5em solid #fff;
    border-radius: 0.2em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

div.floatright img {
    width: 100%;
    height: auto;
}

div.floatright>p {
    font-size: 75%;
    margin-bottom: 0;
    margin-top: 0.4em;
    text-align: left;
    line-height: 120%;
}

.scroll-x {
    scrollbar-width: thin;
}

pre .s,
pre .sb,
pre .sc,
pre .dl,
pre .sd,
pre .s2,
pre .sh,
pre .sx,
pre .s1 {
    color: #fad31c !important;
    font-weight: normal !important;
}

pre .c,
pre .ch,
pre .cd,
pre .cm,
pre .cpf,
pre .c1,
pre .cs {
    font-weight: normal !important;
}

.menu {
    padding-bottom: 5px;
}

.menu .btn {
    margin-bottom: 5px;
}

.btn-module {
    position: relative;
    top: -0.8em;
}

@media (min-width: 576px) {
    .btn-module {
        position: unset;
        top: unset;
        text-align: right;
        padding-top: 1.5em;
    }
}

.btn-module-4 {
    margin-bottom: 0.5em;
}

@media (min-width: 576px) {
    .btn-module-4 {
        position: unset;
        top: unset;
        text-align: right;
        /* padding-top: 0.5em; */
    }
}

@media (max-width: 768px) {
    div.floatright.fr-wide {
        display: block;
        width: 100% !important;
    }
}

a.btn:hover {
    text-decoration: none;
}

.input-with-text-mod .input-group-text {
    background-color: #fff;
    border: none;
    margin-left: -0.75em;
}

.input-with-text-mod input {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background: none;
    opacity: .25;
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.3);
    height: 4px !important;
}

@media print {
    body {
        font-size: 12pt;
    }

    .container {
        max-width: 100%;
    }

    .menu,
    .header,
    footer,
    .autotoc {
        display: none;
    }
}

.autotoc {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    font-size: 85%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-out;
    transform: translateY(0);
}

.autotoc.hidden {
    transform: translateY(calc(-100% - 1em));
}

.autotoc>.items {
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    text-align: center;
}

.autotoc>.items::-webkit-scrollbar {
    display: none;
}

.autotoc>.items>div {
    white-space: nowrap;
    text-overflow: ellipsis;
    scroll-snap-align: center;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 1em 2em;
    width: 20em;
    position: relative;
    margin-bottom: 0.5em;
    cursor: pointer;
    user-select: none;
}

.autotoc>.items>div.active {
    font-weight: bold;
    position: relative;
}

.autotoc>.progress_sm {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0.13em;
    left: 0;
    width: 0;
    height: 0.25em;
    transition: left 0.3s ease-out;
    border-radius: 0.05em;
    transform: translate(0.15em, 0.05em);
    display: none;
}

.autotoc>.progress_spots_sm {
    position: absolute;
    bottom: 0.1em;
    left: 0;
    width: 100%;
    height: 0.2em;
    flex-wrap: nowrap;
    display: none;
}

.autotoc>.progress_spots_sm>div {
    background-color: rgba(0, 0, 0, 0.15);
    height: 0.2em;
    padding: 0 0.5em;
    border-radius: 1em;
    margin: 0 0.15em;
    width: 20em;
    display: inline-block;
}

.autotoc>.progress_spots_lg {
    display: block;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    text-align: center;
    position: relative;
    top: -2em;
    margin-bottom: -2.2em;
}

.autotoc>.progress_spots_lg::-webkit-scrollbar {
    display: none;
}

.autotoc>.progress_spots_lg>div {
    background-color: rgba(0, 0, 0, 0.15);
    height: 0.2em;
    padding: 0 0.5em;
    border-radius: 1em;
    margin: 0 0.15em;
    width: calc(20em - 0.3em);
    display: inline-block;
    transition: background-color 0.1s ease-out;
}

.autotoc>.progress_spots_lg>div.active {
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .autotoc {
        pointer-events: none;
    }

    .autotoc>.items {
        padding: 1em 1em 0.6em 1em;
    }

    .autotoc>.items>div {
        width: 100%;
        padding: 0 1em;
        margin-bottom: 0em;
    }

    .autotoc>.items>div.active {
        font-weight: unset;
    }

    .autotoc>.progress_spots_sm {
        display: flex;
        flex-wrap: nowrap;
    }

    .autotoc>.progress_spots_sm>div {
        display: block;
    }

    .autotoc>.progress_spots_lg {
        display: none;
    }

    .autotoc>.progress_sm {
        display: block;
    }
}

.autotoc-container {
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.bi-spin {
    display: inline-block;
    animation: spinner 1.5s ease-out infinite;
}

.progress_spots_sm {
    pointer-events: none;
}

.btn .bi,
button .bi {
    margin-right: 0.55em;
}

.swatches {
    display: flex;
    flex-flow: wrap;
}

.swatches>span {
    width: 2em;
    height: 2em;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 0.2em;
    margin-bottom: 1.2em;
}

.swatches>span>span {
    position: relative;
    top: 2.4em;
    opacity: 0.7;
    font-size: 80%;
    text-align: center;
}

@media (max-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: calc(100vw - 60px);
    }
}

@media (max-width: 560px) {

    .container,
    .container-md,
    .container-sm {
        max-width: calc(100vw - 10px);
    }
}

